

<p *ngIf="!angajat"><em>Loading...</em></p>

<a [routerLink]="['/fetch-data']" routerLinkActive="active">Back</a>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="angajat">
    <tbody>

        
    </tbody>
</table>

<h2>Santiere</h2>
<table *ngIf="angajat">
    <thead>
        <tr>
            <th>Denumire santier</th>
            <th>Locatie</th>
        </tr>
    </thead>
    <tr *ngFor="let santier of angajat.santiere">
        <td>{{ santier.nume_santier }}</td>
        <td>{{ santier.locatie }}</td>
    </tr>
</table>
<a [routerLink]="['/fetch-data']" routerLinkActive="active">Back</a>
