<h1 id="tableLabel">Utilizatori</h1>

<p>Prenume: </p>
<input [(ngModel)]="fl_prenume" />

<a class="btn btn-primary" (click)="loadUtilizatorsFilterBy()">Filtreaza!</a>

<p *ngIf="!utilizators"><em>Loading...</em></p>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="utilizators">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nume</th>
            <th>Prenume</th>
            <th>User</th>
            <th>Parola</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let utilizator of utilizators">
            <td>{{ utilizator.id }}</td>
            <td>{{ utilizator.nume }}</td>
            <td>{{ utilizator.prenume }}</td>
            <td>{{ utilizator.user }}</td>
            <td>{{ utilizator.parola }}</td>
            <td>
                <a href="edit($event,utilizator.id)">Edit</a> |
                <a href="delete(utilizator.id)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

<p>Adauga un utilizator nou</p>
<p>Nume:</p>
<input [(ngModel)]="create_nume" />
<p>{{create_nume}}</p><p style="color:red;">{{create_locatieError}}</p>

<p>Prenume:</p>
<input [(ngModel)]="create_prenume" />
<p>{{create_prenume}}</p><p style="color:red;">{{create_numesantierError}}</p>

<p>Utilizator:</p>
<input [(ngModel)]="create_user" />
<p>{{create_user}}</p><p style="color:red;">{{create_numesantierError}}</p>

<p>Parola:</p>
<input [(ngModel)]="create_parola" />
<p>{{create_parola}}</p><p style="color:red;">{{create_numesantierError}}</p>

<button (click)="submit()">Adauga</button>


