<h1 id="tableLabel">Angajatii</h1>

<p>This component demonstrates fetching data from the angajats server.</p>

<p *ngIf="!angajats"><em>Loading...</em></p>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="angajats">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nume</th>
            <th>Data</th>
            <th>Ora start</th>
            <th>Ora final</th>
            <th>Pauza</th>
            <th>Type</th>
            <th>Adaugat de</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let angajat of angajats">
            <td>{{ angajat.id_Angajat }}</td>
            <td>{{ angajat.nume }}</td>
            <td>{{ angajat.data }}</td> 
            <td>{{ angajat.ora_Start }}</td>
            <td>{{ angajat.ora_Stop }}</td>
            <td>{{ angajat.pauza }}</td>
            <td>{{ angajat.adaugatde }}</td>
            <td>
                <a class="btn btn-primary" [routerLink]="['/fetch-data', angajat.id_Angajat]" routerLinkActive="active">Details</a> |
                <a class="btn btn-info" (click)="edit($event,angajat.id_Angajat)" >Edit</a> |
                <a class="btn btn-danger" (click)="delete(angajat.id_Angajat)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>


