<h1 id="tableLabel">Angajatii</h1>

<p>This component demonstrates fetching data from the angajats server.</p>

<p *ngIf="!angajats"><em>Loading...</em></p>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="angajats">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nume</th>
            <th>Data</th>
            <th>Ora start</th>
            <th>Ora final</th>
            <th>Pauza</th>
            <th>Type</th>
            <th>Adaugat de</th>
            
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let angajat of angajats">
            <td>{{ angajat.id }}</td>
            <td>{{ angajat.nume }}</td>
            <td>{{ angajat.data }}</td> 
            <td>{{ angajat.ora_start }}</td>
            <td>{{ angajat.ora_stop }}</td>
            <td>{{ angajat.pauza }}</td>
            <td>{{ angajat.adaugatde }}</td>
            <td>
                <a class="btn btn-primary" [routerLink]="['/fetch-data', costItem.id]" routerLinkActive="active">Details</a> |
                <a class="btn btn-info" (click)="edit($event,angajat.id)" >Edit</a> |
                <a class="btn btn-danger" (click)="delete(angajat.id)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>


<p>Add a new cost </p>
<p>Description:</p>
<input [(ngModel)]="description" id="description" />
<p>{{description}}</p><p style="color:red;">{{descriptionE}}</p>

<p>Sum:</p>
<input [(ngModel)]="sum" id="sum" />
<p>{{sum}}</p><p style="color:red;">{{sumE}}</p>

<p>Currency:</p>
<input [(ngModel)]="currency" id="currency" />
<p>{{currency}}</p>

<p>Location:</p>
<input [(ngModel)]="location" id="location" />
<p>{{location}}</p>

<p>Date:</p>
<input type="date" [(ngModel)]="date" id="date" />
<p>{{date}}</p>

<p>Type: </p>
<input [(ngModel)]="type" id="type" />
<p>{{type}}</p><p style="color:red;">{{typeE}}</p>

<button (click)="submit()">Submit!</button>


