

<h1 id="tableLabel">Santiere</h1>

<p>Locatie: </p>
<input [(ngModel)]="fl_locatie" />

<a class="btn btn-primary" (click)="loadSantierFilterBy()">Filtreaza!</a>

<p *ngIf="!santiere"><em>Loading...</em></p>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="santiere">
    <thead>
        <tr>
            <th>Id</th>
            <th>Locatie</th>
            <th>Denumire santier</th>
            <th>Numar de angajati</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let santier of santiere">
            <td>{{ santier.id_Santier }}</td>
            <td>{{ santier.locatie }}</td>
            <td>{{ santier.nume_Santier }}</td>
            <td>{{ santier.nr_angajati }}</td>
            <td>
                <a class="btn-link" [routerLink]="['/santier-details', santier.id_Santier]" routerLinkActive="active">Details</a> |
                <a class="btn-info" [routerLink]="['/santier-edit', santier.id_Santier]" routerLinkActive="active">Edit</a> |
                <a class="btn-danger" (click)="delete(santier.id_Santier)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

<p>Adauga un nou santier</p>
<p>Locatie:</p>
<input [(ngModel)]="create_locatie"  />
<p>{{create_locatie}}</p><p style="color:red;">{{create_locatieError}}</p>

<p>Denumire santier:</p>
<input [(ngModel)]="create_numesantier" />
<p>{{create_numesantier}}</p><p style="color:red;">{{create_numesantierError}}</p>

<button (click)="submit()">Adauga</button>
